.mealListSection {
    background-color: rgb(252, 252, 252);
    border: 5px solid black;
    border-radius: 25px;
    width: 60%;
    margin: auto;
    height: 550px;
    margin-top: 10px;
}

.mealListItems {
background-color: red;
}