.cart {
        background-color: rgb(252, 252, 252);
        border: 5px solid black;
        border-radius: 25px;
        width: 550px;
        margin: auto;
        height: 270px;
        margin-top: 10px;
}

.totalTitle {
    margin-left: 20px;
    /* background-color: red; */
    margin-top: 0px;
}

.totalPrice {
    margin-left: 20px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    /* background-color: red; */
    margin-top: -5px;
}

.total {
    display: flex;
    justify-content: space-between;
}
