* {
    box-sizing: border-box;
  }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #444;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.title {
    margin-left: 50px;
    color: white;
    float: left;
}


 .container {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.container img {
    width: 500px;
    height: 350px;
    object-fit: none;
    border-radius: 50px;
    justify-content: center;
    margin: auto;

}

.mealintro {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 600px;
    height: 200px;
    background-color: rgb(26, 26, 26);
    text-align: center;
    margin: auto;
    border-radius: 5px;
    color: white;
}

.mealintrotitle {
    padding-top: 10px;
}


  




  



