.header {
    background-color: rgb(59, 59, 139);
    height: 100px;
    overflow: hidden;
}

.title {
    margin-left: 50px;
    color: white;
    float: left;
}

.cartBtn {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    border-radius: 10%;
    width: 200px;
    height: 50px;
}